@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #fff;
    background-attachment: fixed;
    font-family: Helvetica;
    font-size: 16px;
    display: block;
    float: none;
}
a{
    color: #666;
}
.header{
    display: block;
    margin-top: 0;
}
.header ul{
    list-style-type: none;
    list-style: none;
    display: inline-block;
    padding: 0;
    left: 2em;
    text-align: center;
    background-color: #fff;
    margin: 0;
    z-index: 9;
    position: fixed;
    height: 2em;
    width: 25%;
    min-width: 17em;
    top: 0;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.23);
}
.header ul .option{
    display: inline-block;
    padding: .2em 1em;
    font-family: "Oswald";
    display: inline-block;
    padding: .2em 1em;
    background-color: #fff;
    margin: 0;
}
.header ul .option:hover{
    color: #111;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.header ul a{
    border-right: 1px solid #999;
}
.header ul a.last{
    border-right:none;
}
.goto-next {
    border: 0;
    bottom: 0;
    display: block;
    height: 5em;
    left: 50%;
    margin: 0 0 0 -5em;
    overflow: hidden;
    position: absolute;
    text-indent: 10em;
    white-space: nowrap;
    width: 9em;
    z-index: 1;
}

.goto-next:before {
    background-image: url("../images/arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 1.5em;
    left: 50%;
    margin: 0em 0 0 -1em;
    position: absolute;
    top: 50%;
    width: 3em;
}
.main .we{
    display: block;
    width: 100%;
    height: calc(100%  - 1.5em);
    position: relative;
    margin-top: 0;
    background-image: url('../images/work1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5em 0 0;
    background-attachment: fixed;;
}
.main .we::before {
    content: '';
    display: none;
    width: 30%;
    height: 55%;
    top: 0;
    position: absolute;
    left:4em;
    background-color: rgba(224,224,224,0.8);
    min-width: 17em;
}
.main .intro{
    display: block;
    width: 25%;
    min-width: 17em;
    height: 100%;
    top: 0;
    position: absolute;
    left: 2em;
    background-color: rgba(224,224,224,0.8);
    padding-top: 2em;
    color: #444;
    padding: 4em 1em 1em;
    text-align: left;
    font-family: "Raleway", serif;
    font-weight: 300;
    box-shadow: 1px 1px 30px rgba(0,0,0,0.4);
}
.main .intro #name{
    margin-top: 3em;
}
.main .intro input[type="text"],textarea{
    padding: .3em 1em;
    resize:none;
    display: block;
    width: 100%;
    border: none;
    margin: .5em 0 0;
    font-size: 1em;
    font-family: "Raleway" !important;
    font-weight: 400;
    border-radius: 0;
    outline: none;
}
.main .intro input[type="text"]:focus,textarea:focus{
    background: #eee;
    outline: none;
}
.main .intro input[type="text"]:hover,textarea:hover{
    background: #eee;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    outline: none;
}
.main .intro input[type="submit"]{
    outline: none;
    padding: .4em 1.2em;
    resize:none;
    display: block;
    width: auto;
    border: none;
    margin: 1em 0 0 auto !important;
    font-size: 1em;
    font-weight: 400;
    font-family: "Raleway" !important;
    border-radius: 0;
    background: #777;
    color: #f0f0f0;
}
.main .intro input[type="submit"]:hover{
    background: #666;
    color: #fff;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}
.main .about{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 0;
    background-image: url('../images/intro.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5em 0 0;
}
.main .about::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color:rgba(88, 88, 88, 0);
}
.main .contact{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 0;
}
.we .who{
    display: block;
    width: 100%;
    padding: 3em 0;
    background: rgba(136, 152, 166, 0);
    position: relative;
    z-index: 3;
}
.we .logo{
    margin: 0 auto;
    max-height: 13em;
}
.we .logo img{
    width: auto;
    height: 13em;
}
.who .text{
    color: #2f2f2f;
    font-size: 1.2em;
    width: 100%;
    padding: .7em 10% 0;
}
.about .info{
    padding: 0;
    background: rgba(253,253,253,0.34);
    position: relative !important;
    height: auto;
    z-index: 3;
    margin: 0 auto;
    float: none;
}
.about .info:last-child{
    margin-top: 2em;
}
.about .trayectory{
    display: inline-block;
    float: none !important;
    padding-top: 3em;
    padding-bottom: 3em;
    background: rgba(93,93,93,0.8);
    color: #ccc;
    text-align: left;
}
.about .title{
    display: block;
    text-align: left;
    font-size: 2em;
    margin: .7em auto;
    color: #777;
    font-family: Oswald;
}
.about .text{
    display: inline-block;
    float: right;
    text-align: left;
    padding-top: 3em;
    color: #333;
}
.about .text.final{
    float: none;
    padding: 1em 3em;
    color: #333;
    background: rgba(255,255,255,0.3);
}
.main{
    padding: 0;
    text-align: center;
    height: 100%;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}
.main .lo .wrapper {
    position: static;
    display: block;
    padding: 0;
    height: auto;
    margin-top: 0;
}
.services{
    position: relative;
    width: 100%;
    display: block;
    height: 100%;
}

.container{
    height: 50%;
    min-height: 19em;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 !important;
    background: #f0f0f0;
    position: relative;
    overflow: hidden;
    background-size: 100%;
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
    background-position: center, center;
    z-index: 0;
    cursor:pointer;
}
.container:hover{
    background-size: 125%;
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;

}
.container.one{
    background-image: url("../images/work1.jpg")
}
.container.two{
    background-image: url("../images/work2.jpg")
}
.container.three{
    background-image: url("../images/work3.jpg")
}
.container.four{
    background-image: url("../images/work4.jpg")
}
.container.five{
    background-image: url("../images/work5.jpg")
}
.container.six{
    background-image: url("../images/work6.jpg")
}
.container .text{
    background-color: rgba(64, 64, 64, 0.7);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    position: absolute;
    height: 100%;
    padding: 0;
    color: #f0f0f0;
}
.container .text h1,h2,h3,i{
    vertical-align: middle;
    color: #e0e0e0 !important;
    font-family: Oswald;
    font-weight: 300;
}
.container .text i{
    color: #f0f0f0 !important;
    font-size: 5em;
}
.container .text .first{
    vertical-align: middle;
    padding: 7em 1em;
}
.container .text .second{
    position: absolute;
    height: 100%;
    padding: 3em 1em;
    display: block;
    width: 100%;
}
.container .text .first.dim{
    opacity: 0;
    animation-name: dim;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
}
.container .text .first.clear{
    opacity: 1;
    animation-name: clear;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
}
.container .text .second.active{
    top:0;
    animation-name: up;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    display: block;
    width: 100%;
}
.container .text .second.unactive{
   animation-name: down;
   animation-duration: .67s;
   animation-timing-function: ease-in-out;
}

.container .more-info{
    background: rgba(0,0,0,0.1);
    color: #fff;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}
.container .more-info .appearable{
    display: inline-block;
    vertical-align: middle;
    margin: auto auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1.7em;
    font-size: 1.5em;
    font-family: Oswald;
}
.container .more-info:hover{
    background: rgba(0,0,0,0.4);
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}
.container .more-info:hover .appearable{
    display: inline-block;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}
.section .wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.section img{
    height: 100%;
}
.section .thumb{
    display: block;
    padding: 1em 10% 1.7em;
    background: rgba(253,253,253,0.34);
    position: absolute !important;
    height: auto;
    margin: 0 auto;
    float: none;
    bottom: 0;
    min-height: 3em;
    z-index: 3;
    word-break: break-all;
    width: 100%;
    left: 0;
    right: 0;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce  2s infinite;
  animation: bounce  2s infinite;
}
@webkit-keyframes dim{
    from{opacity: 1;}
    to{opacity: 0;}
}
@keyframes dim{
    from{opacity: 1;}
    to{opacity: 0;}
}
@webkit-keyframes dimclear{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes clear{
    from{opacity: 0;}
    to{opacity: 1;}
}
@webkit-keyframes up{
    from{top:20em;}
    to{top:0;}
}
@keyframes up{
    from{top:20em;}
    to{top:0;}
}
@webkit-keyframes down{
    from{top:0;padding: 3em 1em;}
    to{top:20em;padding: 3em 1em;}
}
@keyframes down{
    from{top:0;padding: 3em 1em;}
    to{top:20em;padding: 3em 1em;}
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@media (max-width: 1300px){
    .header ul{
        width: 100%;
        left: 0;
    }
}
@media (max-width: 1204px) {
    .container{
        min-height: 33%;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 !important;
        background: #f0f0f0;
        position: relative;
        overflow: hidden;
        background-size: 100% !important;
        -webkit-transition: all ease-in-out .5s;
        -o-transition: all ease-in-out .5s;
        transition: all ease-in-out .5s;
        background-position: center, center;
        z-index: 0;
    }
    .container:hover{
        background-size: 125% !important;

    }
    .container .text .first{
        padding: 3em 0;
        
    }
    .container .text .second{
        padding: 1em;
    }
}
@media only screen and (max-width: 620px) {
    .we .logo{
        height: 10em;
    }
    .we .logo img{
        height: 10em;
    }
    .we .text{
        font-size: 1.1em;
    }

    .about .text{
        display: inline-block;
        float: none !important;
        text-align: left;
        padding-top: 3em;
        padding-bottom: 3em;
        color: #3A3939;
    }
}
@media only screen and (max-width: 470px) {
    .container{
        height: 14em;
        background-repeat: no-repeat;
        padding: 0 !important;
        background: #f0f0f0;
        position: relative;
        overflow: hidden;
        background-size: 100% !important;
        -webkit-transition: all ease-in-out .5s;
        -o-transition: all ease-in-out .5s;
        transition: all ease-in-out .5s;
        background-position: center, center;
        z-index: 0;
    }
    .container:hover{
        background-size: 125% !important;

    }
    .contact .contact-form{
        width: 100%;
        padding: 3em 0;
        text-align: center;
        position: static;
        height: 100%;
        margin: 0;
    }
    .contact .contact-form span{
        display: block;
        margin: 0 auto;
        position: relative;
        padding: 0;
    }
    #map{
        display: none;
    }
    .contact .contact-form input[type="text"],textarea,input[type="email"]{
        width: 100%;
        display: block;
        margin: 1em 0 !important;    
    }
    form{
        padding: 0 1em;
    }

}
@media only screen and (max-width: 400px) {
    .we .logo{
        height: 7em;
    }
    .we .logo img{
        height: 7em;
    }
    .we .text{
        font-size: 1em;
    }
    .parragraph{
        font-size: 14px;
    }
    .contact .contact-form span{
        padding-left: 0;
    }
}